<h1>Add trip</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="form-group">
			        <label for="tripFile" class="control-label">Select trip file (gpx or kml):</label>
			        <input type="file" id="tripFile" name="tripFile" />
		    	</div>
			</div>
			<div class="row">
				<div class="panel panel-info" id="tripContent" style="display: none">
					<div class="panel-heading">Trip features</div>
					<div class="panel-body">
						<ul class="list-group">
			    		</ul>
					</div>
				</div>
				<div id="errMsg">
				</div>
				<div id="successMsg">
				</div>
			</div> 
		</div>
		<div class="col-md-6">
			<div id="map"></div> 
		</div>
	</div>
</div>
<script src="app/addTrip.js"></script>


