body {
	padding-top: 70px;
	padding-bottom: 50px;
}

.alert.ng-hide-remove {
	animation: fadeInUp 0.5s;
}
.alert.ng-hide-add {
	animation: fadeOutUp 0.5s;
}
tr.ng-enter {
	animation: fadeInUp 0.5s;
}

#map {
	width: 400px !important;
	height: 400px !important;
}

